body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #101010;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
  margin: 0;
  color: #eee;
}

a:hover {
  text-decoration: none;
  color: red;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.main-heading h3,
.main-heading h5 {
  color: red !important;
}

/*-----------------------------------------
      Start Header Section.
-----------------------------------------*/
@media (min-width: 991px) {
  .header-section {
    background: #f5efef;
    height: 75px;
  }
  .header-section .logo {
    padding-top: 5px;
  }
  .header-section .logo img {
    width: 100%;
    height: 50px;
  }
  .header-section .navbar-expand-lg {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
  }
  .header-section .nav-item {
    display: inline-block;
    position: relative;
    padding-left: 10px;
  }
  .header-section .nav-link {
    color: #333;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header-section .nav-link:hover {
    color: red;
  }
  .header-section .nav-link:active {
    color: red;
  }
  .header-section .nav-link:focus {
    color: red;
  }
  .header-section li:hover .arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: red;
  }
  .header-section .sub-menu {
    position: absolute;
    z-index: 10;
    border-radius: 0;
    border: none;
    background: white;
    display: block;
    left: 0px;
    opacity: 0;
    right: 0;
    top: 50px;
    padding-left: 0;
    visibility: hidden;
    min-width: 230px;
    -webkit-box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
    box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
    margin: 0;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header-section .sub-menu li {
    padding-left: 20px !important;
    display: block;
  }
  .header-section .sub-menu a:hover {
    padding-left: 15px;
  }
  .header-section .sub-menu:after {
    content: "";
    position: absolute;
    clear: both;
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    left: 30px;
    top: -10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid white;
    border-top: 1px solid white;
    z-index: -9;
  }
  .header-section .header-menu ul li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 991px) {
  .header-section {
    display: none;
  }
}

/*---------------------------------------------------------
             End  Header Section.
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start- Off canvas menu mobile menu
---------------------------------------------------------*/
.logo {
  padding-top: 5px;
}

.logo img {
  width: 100%;
  height: 50px;
}

.off-canvas-menu-bar {
  -webkit-box-shadow: 0px 18px 40px -30px rgba(35, 38, 58, 0.21);
  box-shadow: 0px 18px 40px -30px rgba(35, 38, 58, 0.21);
  -webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  display: none;
  width: 100%;
}

.off-canvas-menu-visible {
  -webkit-transition: 3s;
  transition: 3s;
}

.off-canvas-menu-visible .off-canvas-menu {
  opacity: 1;
  visibility: visible;
}

.off-canvas-menu-visible .off-canvas-menu .menu-backdrop {
  display: block;
  opacity: 1;
  visibility: visible;
}

.off-canvas-menu-visible .off-canvas-menu .mobile-nav {
  left: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.off-canvas-menu-visible .off-canvas-menu .close-btn {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.off-canvas-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

.off-canvas-menu .navbar-logo {
  display: block;
  padding: 20px 20px;
  text-align: center;
}

.off-canvas-menu .navbar-logo img {
  max-width: 200px;
}

.off-canvas-menu .menu-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.off-canvas-menu .mobile-nav {
  position: absolute;
  left: -200%;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: white;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(101%);
  transform: translateX(101%);
}

.off-canvas-menu .close-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000;
  line-height: 25px;
  text-align: center;
  font-size: 21px;
  color: #202020;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.off-canvas-menu .close-btn:hover {
  opacity: 0.5;
  color: red;
  border: 2px solid red;
}

.off-canvas-menu .navigation {
  position: relative;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0;
}

.off-canvas-menu .navigation li {
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.off-canvas-menu .navigation li > ul {
  display: none;
}

.off-canvas-menu .navigation li > ul > li:last-child {
  border-bottom: none;
}

.off-canvas-menu .navigation li > ul > li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.off-canvas-menu .navigation li > ul > li > ul {
  display: none;
}

.off-canvas-menu .navigation li > a {
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 20px;
  font-size: 15px;
  text-transform: capitalize;
  color: #333;
}

.off-canvas-menu .navigation li > a:hover {
  color: red;
}

.off-canvas-menu .navigation .dropdown-btn:hover span {
  color: red;
}

.off-canvas-menu .navigation li.menu-item-has-children .dropdown-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  color: #404040;
  cursor: pointer;
  z-index: 5;
}

.off-canvas-menu .navigation li.menu-item-has-children .dropdown-btn:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 1px;
  height: 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.off-canvas-menu .navigation li.page_item_has_children .dropdown-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  color: #404040;
  cursor: pointer;
  z-index: 5;
}

.off-canvas-menu .navigation li.page_item_has_children .dropdown-btn:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 1px;
  height: 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color: red;
}

@media (max-width: 991px) {
  .off-canvas-menu-bar {
    display: block;
  }
  .sub-menu li {
    text-align: center;
  }
  .arrow {
    display: none;
  }
}

/*---------------------------------------------------------
            Start- Off canvas menu mobile menu
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start- Hero section
---------------------------------------------------------*/
.hero-slider-item {
  padding-top: 50px;
  padding-bottom: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
  height: 520px;
}

.hero-slider-item::after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
}

.hero-caption h2 {
  padding-top: 60px;
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 8px;
  color: white;
}

.hero-caption p {
  font-size: 20px;
  color: white;
  line-height: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}

.active .hero-slider-item h2 {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.active .hero-slider-item a {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.active .hero-slider-item p {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.button-1 {
  display: inline-block;
  padding: 18px 40px;
  border: 2px solid red;
  color: white;
  background: red;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.3px;
  border-radius: 30px;
}

.button-1:hover {
  background: #fff;
  color: red;
  -webkit-box-shadow: 0px 0px 20px 0px #eee;
  box-shadow: 0px 0px 20px 0px #eee;
}

.hero-slider-full .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

.hero-slider-full .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background: white;
  margin: 0px 3px;
}

.hero-slider-full .owl-dots .owl-dot.active span {
  background: red;
}

.hero-slider-item {
  padding-top: 50px;
  padding-bottom: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
  height: 520px;
}

.hero-slider-item::after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
}

.hero-caption h2 {
  padding-top: 60px;
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 8px;
  color: white;
}

.hero-caption p {
  font-size: 20px;
  color: white;
  line-height: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}

.active .hero-slider-item h2 {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.active .hero-slider-item a {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.active .hero-slider-item p {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.button-1 {
  display: inline-block;
  padding: 18px 40px;
  border: 2px solid red;
  color: white;
  background: red;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.3px;
  border-radius: 30px;
}

.button-1:hover {
  background: #fff;
  color: red;
  -webkit-box-shadow: 0px 0px 20px 0px #eee;
  box-shadow: 0px 0px 20px 0px #eee;
}

.hero-slider-full .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

.hero-slider-full .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background: white;
  margin: 0px 3px;
}

.hero-slider-full .owl-dots .owl-dot.active span {
  background: red;
}

/*---------------------------------------------------------
            End hero section
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start- About section
---------------------------------------------------------*/
.about-section {
  padding-top: 30px;
}

.about-section .about-img {
  margin-top: 40px;
}

.about-section .about-img img {
  width: 100%;
  height: 460px;
}

.about-section .about-content {
  text-align: left;
  padding-top: 48px;
}

.about-section .about-content h3 {
  text-align: left;
  padding-bottom: 5px;
}

.about-section .about-content h1 {
  text-align: left;
  padding-bottom: 20px;
}

.about-section .about-content h1 span {
  color: red;
}

.about-section .about-content p {
  font-size: 20px;
  color: white;
  line-height: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: left;
}

/*---------------------------------------------------------
            End- About section
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start- services section
---------------------------------------------------------*/
.main-icon {
  padding-top: 25px;
  text-align: center;
}

.main-icon i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: white;
  line-height: 60px;
  font-size: 40px;
  color: #333;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#services-section {
  padding-top: 60px;
}

#services-section .services-heading {
  padding-top: 30px;
}

#services-section .services-heading p {
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.main-style {
  position: relative;
  font-family: poppins, sens-serif;
  margin-top: 40px;
  height: 380px;
  background-color: white;
  cursor: pointer;
}

.main-style h2 {
  padding-top: 10px;
  color: #333;
}

.main-style p {
  line-height: 28px;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  font-size: 17px;
  color: #333;
}

.main-style .services-btn {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #333;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  padding-top: 10px;
  z-index: 1;
  overflow: hidden;
}

.main-style .services-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  right: 100%;
  top: 0;
  border-radius: 30px;
  z-index: -1;
}

.main-style .services-btn:hover:after {
  left: 0;
  color: white !important;
}

.main-style::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-style:hover i {
  color: #00e7ff;
  border: 2px solid #00e7ff;
}

.main-style:hover:after {
  -webkit-transform: rotate(8deg) !important;
  transform: rotate(8deg) !important;
  background-color: #00e7ff;
}

/*---------------------------------------------------------
            End- services section
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start portfolio section
---------------------------------------------------------*/
#portfolio-section {
  margin-top: 70px;
}

#portfolio-section .main-heading h4 {
  color: red;
  padding-bottom: 6px;
}

#portfolio-section .main-heading h1 {
  padding-bottom: 6px;
}

#portfolio-section .main-heading p {
  font-weight: bold;
}

#portfolio-section .main-item {
  overflow: hidden;
}

#portfolio-section .portfolio-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

#portfolio-section .portfolio-menu li {
  padding: 10px 30px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#portfolio-section .portfolio-menu li:hover {
  background-color: tomato;
  color: #fff;
}

#portfolio-section .single-portfolio {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio-section .single-portfolio img {
  width: 100%;
}

#portfolio-section .single-portfolio .portfolio-overlay {
  position: absolute;
  left: 0;
  top: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100% !important;
  padding-top: 100px;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio-section .single-portfolio .portfolio-overlay h4 {
  text-transform: capitalize;
  font-size: 25px;
}

#portfolio-section .single-portfolio .portfolio-overlay p {
  font-style: italic;
}

#portfolio-section .single-portfolio .portfolio-overlay:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.75;
  z-index: -1;
}

#portfolio-section .single-portfolio:hover .portfolio-overlay {
  top: 0;
}

/*---------------------------------------------------------
            End- portfolio-section
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start-skilld-section
---------------------------------------------------------*/
#Skilld-section {
  padding-top: 40px;
}

#Skilld-section .skilld-item .skilld-content {
  padding-top: 25px;
  text-align: center;
}

#Skilld-section .skilld-item .skilld-content h2 {
  padding: 0px 8px;
}

#Skilld-section .skilld-item .skilld-content h3 {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #333 !important;
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Skilld-section .skilld-item:hover h3 {
  background-color: #00e7ff !important;
  color: #333;
}

/*---------------------------------------------------------
            End-skilld-section
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start-prgress skill-section
---------------------------------------------------------*/
/*-------------skild-left-section-------------------*/
.js-video-button::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: -99;
  -webkit-animation: pusle-border 1.5s ease-out infinite;
          animation: pusle-border 1.5s ease-out infinite;
}

.video-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 30px;
  height: 400px;
  margin-top: 8px;
}

.video-item img {
  width: 100%;
  height: 100%;
}

.video-item .video-item-overlay {
  position: absolute;
  left: 0;
  top: 0%;
  color: #000 !important;
  background-color: #333;
  opacity: .90;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100% !important;
  padding-top: 100px;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: pusle-border 1.5s ease-out infinite;
          animation: pusle-border 1.5s ease-out infinite;
}

.play-btn {
  margin-top: 45px;
  width: 100px;
  height: 100px;
  background: radial-gradient(rgba(255, 0, 128, 0.8) 60%, white 62%);
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
          box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

/*------------ start-video-btn-style------------ */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/*------------pulse wave-------------*/
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
          animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
          animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -24%;
  left: -25%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/*----------skilld-right-section------------------*/
.skilld-left-item .main-skilld-box .skilld-box {
  margin-left: 3px;
  width: 176px;
  height: 200px;
  background-color: blue;
  text-align: center;
  padding-top: 12px;
  position: relative;
  display: inline-block;
}

.skilld-left-item .main-skilld-box .skilld-box i {
  font-size: 50px;
  color: green;
}

.skilld-left-item .main-skilld-box .skilld-box .skilld-box-item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid red;
  background-color: #fff;
}

.skilld-left-item .main-skilld-box .skilld-box .skilld-box-item h1 {
  padding-top: 20px;
  color: red;
}

.skilld-left-item .main-skilld-box .skilld-box:after {
  content: "";
  position: absolute;
  clear: both;
  display: block;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #444;
  opacity: .90;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .50s;
  transition: .50s;
}

.skilld-left-item .main-skilld-box .skilld-box:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skill-single h2.title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
}

.skill-single h2.title:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 3px;
  background: #444;
}

.resume-item {
  padding: 10px;
  border: 2px solid #c6c3c3;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.resume-item:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.resume-item-top {
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #c6c3c3;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.resume-item-top .resume-date {
  width: auto;
  float: left;
  overflow: hidden;
  font-weight: 600;
  color: #333;
}

.resume-item-top .resume-icon {
  overflow: hidden;
  float: right;
}

.resume-item-top .resume-icon i {
  color: #333;
}

.resume-item-bottom h4 {
  font-size: 18px;
  font-weight: 600;
  color: #ec4a71;
  text-transform: uppercase;
}

.resume-item-bottom h5 {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0px;
}

.resume-item-bottom p {
  line-height: 1.7;
}

.resume-skill-single {
  margin-bottom: 20px;
}

.resume-skill-single:last-child {
  margin: 0px;
}

.resume-skill-single span {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
  color: white;
}

.resume-skill-single .progress {
  background-color: #0e7aa4;
  border-radius: 0px;
  height: 20px;
}

.resume-skill-single .progress .progress-bar {
  font-size: 16px;
  font-weight: 700;
  background-color: #ffb400;
}

/*---------------------------------------------------------
            End-progress-skill-section
---------------------------------------------------------*/
/*---------------------------------------------------------
            start-team-section
---------------------------------------------------------*/
#team-section {
  margin-top: 10px;
  padding-bottom: 20px;
}

#team-section .team-item {
  cursor: pointer;
  overflow: hidden;
  margin-top: 30px;
  padding-bottom: 15px;
  background-color: #333;
}

#team-section .team-item:hover .team-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#team-section .team-item .main-team {
  height: 350px;
  overflow: hidden;
}

#team-section .team-item .main-team .team-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*---------------------------------------------------------
            End-team-section
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start-planing-section
---------------------------------------------------------*/
#planing {
  cursor: pointer;
  padding-top: 30px;
}

#planing .plan-item {
  background-color: #333;
  margin-top: 40px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

#planing .plan-item:hover i {
  color: red;
  border: 2px solid red;
}

#planing .plan-item .plan-content {
  padding: 30px 10px;
}

#planing .plan-item .plan-content h2 {
  height: 50px;
  border: 5px dotted white;
  margin-top: 15px;
}

#planing .plan-item .plan-content .plan-name {
  width: 175px;
  height: 40px;
  background-color: #486674;
  margin: 0 auto;
  line-height: 40px;
  border-radius: 10px;
}

#planing .bast {
  position: relative;
  overflow: hidden !important;
}

#planing .bast-plan {
  position: absolute;
  right: -60px;
  top: 18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#planing .bast-plan h4 {
  color: #fff;
  background-color: red;
  width: 200px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 3px;
}

/*---------------------------------------------------------
            End-planing-section
---------------------------------------------------------*/
/*---------------------------------------------------------
            Start-blog-section
---------------------------------------------------------*/
#blog-section {
  margin-top: 40px;
}

#blog-section .blog-item {
  cursor: pointer;
  background-color: #333;
  margin-top: 40px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

#blog-section .blog-item .blog-img img {
  width: 100%;
  height: 280px;
}

#blog-section .blog-item .blog-content {
  padding: 20px 10px;
  text-align: center;
}

#blog-section .blog-item:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #eee;
          box-shadow: 0px 0px 20px 0px #eee;
  margin-top: 30px;
}

#blog-section .blog-item .blog-single:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#blog-section .blog-item .blog_author {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#blog-section .blog-item .pb-left {
  float: left;
  padding: 26px 0px 26px 10px;
}

#blog-section .blog-item .pb-right {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  background: #ffb400;
  text-align: center;
  top: 0;
  padding: 10px 0px;
}

#blog-section .blog-item .pb-right h3 {
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}

#blog-section .blog-item .pb-right span {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}

#blog-section .blog-item .pb-left a {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ac8f8f;
}

#blog-section .blog-item .blog-single:hover .pb-left a {
  color: #fff;
}

/*---------------------------------------------------------
            End-blog-section
---------------------------------------------------------*/
/*---------------------------------------------------------
            start-Contact-section
---------------------------------------------------------*/
.contact-info {
  padding: 40px 35px;
  background: #333;
  height: 474px;
}

.contact-info .contact-info-single {
  border-bottom: 2px solid #444;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-info .contact-info-single i {
  width: 44px;
  height: 44px;
  float: left;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  color: #333;
  font-size: 23px;
  margin-right: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contact-info .contact-info-single h4 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 0px;
}

.contact-info .contact-info-single span {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.contact-info .social-icon {
  margin-top: 30px;
}

.contact-info .social-icon ul li {
  display: inline;
}

.contact-info .social-icon a {
  display: inline-block;
  font-size: 14px;
  margin-right: 3px;
}

.contact-info .social-icon a i {
  width: 35px;
  height: 35px;
  background: #000;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #fff;
}

.contact-info .social-icon a i:hover {
  background: #dca52e;
}

.contact-form {
  width: 100%;
  background: #333;
  padding: 30px 40px;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px 30px;
  font-size: 15px;
  font-weight: 500;
  background: #000;
  border: 2px solid #333;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #fff;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px 30px;
  font-size: 15px;
  font-weight: 500;
  background: #000;
  border: 2px solid #333;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #fff;
  height: 180px;
}

.contact-form input[type="submit"] {
  width: auto;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  background: #fff;
  border: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contact-form input[type="submit"]:hover {
  background: #000;
  color: #fff;
}

/*-------------------------------------------------
            End-contact-section
---------------------------------------------------------*/
/*---------------------------------------------------------
            start-back-to-top-btn-section
---------------------------------------------------------*/
#button {
  display: inline-block;
  background-color: #333;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button i {
  padding-top: 15px;
  font-size: 25px;
  -webkit-transition: .40s;
  transition: .40s;
}

#button:hover,
#button :active {
  cursor: pointer;
  background-color: #333;
}

#button.show {
  right: 3px;
  opacity: 1;
  visibility: visible;
  right: 4px;
}

/*---------------------------------------------------------
            End-back-to-top-btn-section
---------------------------------------------------------*/
#fotter {
  line-height: 20px;
  margin-top: 40px;
  height: 60px;
  line-height: 50px;
  background-color: #222;
}

#fotter p {
  text-align: left !important;
  padding-top: 7px;
}

#fotter .copy-text {
  display: inline-block;
}

#fotter .fotter-icon {
  text-align: center;
}

#fotter .fotter-icon ul {
  display: inline-block;
  margin-left: 65px;
  padding-top: 10px;
}

#fotter .fotter-icon ul li {
  margin-right: 5px;
  display: inline-block;
  text-align: center;
}

#fotter .fotter-icon ul li i {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding-top: 10px;
}

#fotter .fotter-icon ul li i:hover {
  border: 2px solid red;
}
/*# sourceMappingURL=style.css.map */